*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    margin-left: 45%;
    font-size: 30px;
}
.startButton{
    padding: 5px;
    width: fit-content;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
}
.grid-container{
    width: 105%;
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3,150px);
    gap: 20px;
}
.left{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;

}

.content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.box{
    width: 100%;
    height: 100%;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
dialog{
    margin-left: 60px;
    border: 0;


}
form{
    display: flex;
    flex-direction: column;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.enterNames{
    padding: 5px;
}